---

  import Layout from '../layouts/Layout.astro'
    
  import Form from '../components/Form.astro'

---

<Layout title="Contacto">
  <main class="flex justify-center items-center my-5 mx-3">
        
    <img src="/Uso2.webp" alt="MediSim VR" class="w-1/3 shadow-lg">

    <div class="self-start">
      <Form />
    </div>
    
  </main>

</Layout>