---
import Layout from '../layouts/Layout.astro';
---

<Layout title="MediSim VR">
	<main class="min-h-screen mt-24 mx-3">

		<section id="whyToUse" class="flex justify-center items-center h-auto"
		>
			<img src="Uso.webp" class="w-64 h-64"/>
			<span class="ml-4 mt-4 self-start">
				<h3 class="text-bold text-2xl text-blue-500">Porque usar MediSimVR</h3>
				<ul class="list-disc ml-8 text-sm sm:text-base text-gray-700">
					<li>Te permite trabajar desde la comodidad de tu hogar.</li>
					<li>Experimenta procedimientos médicos de forma realista en entornos virtuales.</li>
					<li>Recibe correcciones y orientación directa de profesionales médicos.</li>
					<li>Acceso a prácticas virtuales inmersivas en cualquier momento y lugar.</li>
					<li>Opción especializada diseñada para profesionales del ámbito médico.</li>
					<li>Interactividad en entornos tridimensionales para una comprensión más profunda.</li>
					<li>Ahorro de costos asociados con prácticas físicas y materiales educativos.</li>
			</ul>
			</span>
		</section>

		<section id="description" class="">
			<h2 class="text-2xl font-bold mb-4 text-blue-500">¿Qué es MediSim VR?</h2>
			<p class="text-gray-700">
				MediSim VR representa una avanzada plataforma educativa basada en realidad virtual,
				diseñada para el estudio y práctica de la medicina. Esta aplicación proporciona a estudiantes y profesionales un
				entorno inmersivo donde pueden realizar procedimientos médicos guiados y recibir correcciones directas de instructores
				especializados o de los propios profesores de la universidad. La tecnología de realidad virtual recrea situaciones clínicas realistas, ofreciendo una experiencia de
				aprendizaje práctica y segura. Destacando por su enfoque interactivo en 3D, MediSim VR mejora significativamente la comprensión
				de conceptos médicos complejos. Además, se distingue por ofrecer una opción especializada dirigida a profesionales médicos,
				permitiéndoles perfeccionar habilidades específicas y mantenerse actualizados en sus respectivos campos. 
			</p>
		</section>


		<section id="characteristics" class="mt-5">
			<h2 class="text-bold text-2xl text-blue-500">Características</h2>
			<ul class="grid grid-cols-2 md:grid-cols-4 ">
				<li class="p-4 bg-[#e2c3cf] text-gray-700">
					<h3 class="text-bold text-lg">Realidad Virtual</h3>
					<p class="text-sm italic font-medium leading-relaxed">
						La realidad virtual te permite sumergirte en un entorno virtual y realizar procedimientos médicos
						de manera segura y guiada.</p>
				</li>
				<li class="p-4 bg-[#a0dde9] text-gray-700">
					<h3 class="text-bold text-lg">Profesores</h3>
					<p class="text-sm italic font-medium leading-relaxed">
						Profesores especializados en medicina te guiarán y corregirán tus actuaciones.</p>
				</li>
				<li class="p-4 bg-[#e2cc80] text-gray-700">
					<h3 class="text-bold text-lg">Especialización</h3>
					<p class="text-[#333333] text-sm italic font-medium leading-relaxed">
						Profesionales del ámbito médico podrán acceder a una versión especializada de la aplicación.</p>
				</li>
				<li class="p-4 bg-[#f9d4a1] text-gray-700">
					<h3 class="text-bold text-lg">Flexibilidad</h3>
					<p class="text-sm italic font-medium leading-relaxed">
							Estudia y practica a tu propio ritmo, adaptándote a tus horarios y necesidades, pudiendo practicar cuando quieras.</p>
					</p>
			</li>
			</ul>
		</section>
	</main>
</Layout>
