---
  import Layout from '../layouts/Layout.astro'
---



<!--
  Recuerda que la paleta de colores es:
  Fondo Principal: bg-gray-100
  Encabezado y Pie de Página: bg-gray-800, text-white
  Títulos Principales: text-blue-500
  Texto Principal: text-gray-700
  Botones Normales: bg-blue-500, text-white
  Botones de Enlace o Acción: bg-green-500, text-white
  Colores de Foco/Hover: bg-blue-700, bg-green-700 (para resaltar al pasar el ratón)
-->

<Layout>
  <div class="">

  </div>
</Layout>