---

import Layout from "../layouts/Layout.astro"


let datosCookie;

if (Astro.cookies.has("userData")) {
  const cookie = Astro.cookies.get("userData")
	if(cookie){
		datosCookie = JSON.parse(cookie.value);
    return Astro.redirect(`/dashboard${datosCookie.userid}`);
	}
}

---
<Layout>
  
  <section class="bg-gray-50 dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-5xl font-roboto text-black font-semibold dark:text-white">
          <img class="h-16 w-auto" src="/logoNB.png">  
          MediSim
        </a>
        <div class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-text md:text-2xl dark:text-white">
                    Inicia Sesion en tu cuenta
                </h1>
                <form class="space-y-4 md:space-y-6" id="formulario">
                  <div>
                    <label for="email" class="block mb-2 text-sm font-semibold text-text dark:text-white">Email</label>
                    <input type="email" autocomplete="email" name="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-title focus:border-title block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="name@company.com" required="">
                  </div>
                  <div>
                      <label for="password" class="block mb-2 text-sm font-semibold text-text dark:text-white">Contraseña</label>
                      <input type="password" autocomplete="current-password" name="password" id="password" placeholder="••••••••" class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-title focus:border-title block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required="">
                  </div>
                  <div class="flex items-center justify-between">
                      <div class="flex items-start">
                          <div class="flex items-center h-5">
                            <input id="remember" aria-describedby="remember" type="checkbox" class="w-4 h-4 border border-gray-300 rounded bg-gray-50 focus:ring-3 focus:ring-title dark:bg-gray-700 dark:border-gray-600 dark:focus:ring-title dark:ring-offset-gray-800" required="">
                          </div>
                          <div class="ml-3 text-sm">
                            <label for="remember" class="text-gray-500 dark:text-gray-300">Recuerdame</label>
                          </div>
                      </div>
                      <a href="#" class="text-sm font-medium text-title hover:underline dark:text-title">Contraseña olvidada?</a>
                  </div>
                    
                    <button type="submit" class="w-full text-white bg-title hover:bg-title focus:ring-4 focus:outline-none focus:ring-title font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-title dark:hover:bg-title dark:focus:ring-title">Iniciar Sesion</button>
                    <p class="text-sm font-light text-gray-500 dark:text-gray-400">
                        Aun no tienes cuenta? <a href="/register" class="font-medium text-title-600 hover:underline dark:text-title">Registrarme Ahora</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
  </section>



  <script slot="script">

  window.addEventListener('DOMContentLoaded', () => {
      const userDataCookie = Cookies.get('userData');
      const datosCookie = JSON.parse(userDataCookie);


      // Si la cookie existe, redirigir a /dashboard
      if (userDataCookie) {
        console.log('Usuario Iniciado');
        window.location.href = `/dashboard${datosCookie.userid}`;
      }
      else {
        console.log('Usuario No Iniciado');
      }
    });

    

    document.getElementById('formulario').addEventListener('submit', (event) => {
      event.preventDefault();
      const formulario = event.target;
      if (!formulario) {
        return; // Sal del evento si el formulario no es válido
      }
      const formData = new FormData(formulario);
      const email = formData.get('email');
      const password = formData.get('password');

      const loginData = {
        email,
        password
      };

      fetch('https://medisimback-production.up.railway.app/login', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json' // Indicar que el cuerpo de la solicitud es JSON
        },
        body: JSON.stringify(loginData) // Convertir el objeto a JSON
      })
      .then(response => {
        if (response.ok) {
          // Si la solicitud se completó correctamente (estado 200 OK), maneja la respuesta aquí
          console.log('Usuario Iniciado');
          return response.json();
        } else if (response.status === 400) {
          // Si hay un error en la solicitud del cliente (estado 400 Bad Request)
          console.error('Falta algún campo en la solicitud');
          console.log(response.text()); // Convertir el cuerpo de la respuesta a texto
        }else {
          // Si hay un error en el servidor (cualquier otro estado)
          console.error('Error en el servidor:', response.statusText);
          throw new Error('Error en el servidor');
        }
      })
      .then(data => {
        if(data){
          Cookies.set('userData', JSON.stringify(data));
          window.location.replace(`/dashboard${data.userid}`);
        }
        
      })
      .catch(error => {
        console.error('Error al iniciar sesion con usuario: ', error);
      });
    });

  </script>
</Layout>