---
import LayoutProf from '../layouts/LayoutProf.astro'

---

<LayoutProf title="Proffesional">
  <main class="min-h-screen">

    <h2 class="text-bold text-2xl text-blue-500">Características</h2>
    <ul class="grid grid-cols-2 md:grid-cols-4 ">
      <li class="p-4 bg-[#e2c3cf] text-gray-700">
        <h3 class="text-bold text-lg">Realidad Virtual</h3>
        <p class="text-sm italic font-medium leading-relaxed">
          La realidad virtual te permite sumergirte en un entorno virtual y realizar procedimientos médicos
          de manera segura y guiada.</p>
      </li>
      <li class="p-4 bg-[#a0dde9] text-gray-700">
        <h3 class="text-bold text-lg">Profesores</h3>
        <p class="text-sm italic font-medium leading-relaxed">
          Profesores especializados en medicina te guiarán y corregirán tus actuaciones.</p>
      </li>
      <li class="p-4 bg-[#e2cc80] text-gray-700">
        <h3 class="text-bold text-lg">Especialización</h3>
        <p class="text-[#333333] text-sm italic font-medium leading-relaxed">
          Profesionales del ámbito médico podrán acceder a una versión especializada de la aplicación.</p>
      </li>
      <li class="p-4 bg-[#f9d4a1] text-gray-700">
        <h3 class="text-bold text-lg">Flexibilidad</h3>
        <p class="text-sm italic font-medium leading-relaxed">
            Estudia y practica a tu propio ritmo, adaptándote a tus horarios y necesidades, pudiendo practicar cuando quieras.</p>
        </p>
      </li>
    </ul>

  </main>

</LayoutProf>
