<footer class="bg-primary-400 text-white p-6 shadow">
  <div class="container mx-auto flex justify-between items-center">
      <div class="flex flex-col">
          <h4 class="text-lg font-bold mb-2">Contacto</h4>
          <a href="mailto:info@medisimvr.com" class="hover:text-tertiary">Email: info@medisimvr.com</a>
          <a href="tel:+1234567890" class="hover:text-tertiary">Teléfono: +123 456 7890</a>
      </div>
      <div>
          <h4 class="text-lg font-bold mb-2">Síguenos</h4>
          <ul class="flex flex-col md:flex-row gap-x-2 text-left">
              <li><a href="https://facebook.com" class="hover:text-tertiary">Facebook</a></li>
              <li><a href="https://x.com" class="hover:text-tertiary">Twitter</a></li>
              <li><a href="https://linkedin.com" class="hover:text-tertiary">LinkedIn</a></li>
          </ul>
      </div>
  </div>
  <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
    <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© 2024 Alejandro Aceves-Raul Ferri. Casi todos los derechos reservados.
    </span>
    <ul class="flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="/about" class="hover:underline me-4 md:me-6">About</a>
        </li>
        <li>
            <a class="hover:underline me-4 md:me-6">Privacy Policy</a>
        </li>
        <li>
            <a class="hover:underline me-4 md:me-6">Licensing</a>
        </li>
        <li>
            <a class="hover:underline">Contact</a>
        </li>
    </ul>
  </div>
</footer>
