---

  export const prerender = false;



---

<footer id="contact" class="bg-gray-200">

  
  <hr class="border-2 border-blue-500 w-full"/>
  
  <h2 class="text-2xl font-bold mb-4 ml-2">Contacto para Profesionales o Instituciones</h2>

  <form class="max-w-md mx-auto mb-5" method="POST" >
      <div class="grid grid-cols-2 gap-3">
        <div class="relative z-0 w-full mb-5 group">
          <input type="text" name="floating_name" id="floating_name" class="block py-2.5 px-0 w-full text-sm
            text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white
            dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-500 peer" placeholder=" " required />
          <label for="floating_name" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform
            -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-500
          peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75
            peer-focus:-translate-y-6"
          >
            Nombre
          </label>
        </div>

        <div class="relative z-0 w-full mb-5 group">
          <input type="email" name="floating_email" id="floating_email" class="block py-2.5 px-0 w-full text-sm
            text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white
            dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-500 peer" placeholder=" " required />
          <label for="floating_email" class="peer-focus:font-medium absolute text-sm text-gray-500
          dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4
            rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100
            peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6"
          >
            Email
          </label>
        </div>
      </div>
      <div class="mb-4">
          <label for="mensaje" class="text-sm font-medium text-gray-500">Mensaje</label>
          <textarea id="mensaje" name="mensaje" class="mt-1 p-2 w-full border rounded-md"></textarea>
      </div>


      

      <button type="submit" class="bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-700">Enviar Mensaje</button>
  </form>

  
</footer>
