---
import '@fontsource/roboto-mono'

import Header from '../components/Header.astro';
import Form from '../components/Form.astro';

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="MediSimVR practica sin complicaciones" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/cardboards.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="bg-gray-100">
		<Header />
		<slot />
		<Form />
	</body>
</html>
