---
import '@fontsource/roboto-mono'

import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import SideNav from '../components/SideNav.astro';

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="MediSimVR practica sin complicaciones" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/cardboards.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title> 
	</head>
	
	<body class=" bg-gray-50 text-gray-700">

		<Header />
		<div class="flex gap-3 min-h-screen">
			<SideNav estado="Estudiante"/>
			<main class="w-full">
				<slot />	
			</main>
		</div>
		<Footer />
		
	</body>

</html>
