---
import '@fontsource/roboto-mono'

import Header from '../components/Header.astro';
import Form from '../components/Form.astro';
import Footer from '../components/Footer.astro';

const { title } = Astro.props;

---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="MediSimVR practica sin complicaciones" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/cardboards.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>
	</head>
	<body class="bg-gray-100 text-gray-700">
		<Header />
		<slot />
		<div class="mb-6" />
		<Form />
		<Footer />
	</body>
</html>